<h1 align="center" class="boldTitle"> This is <i> FSAD </i> Saturday Basket-Ball Match Blog </h1>


<h3 align="center" class="h3"> We have two team in our <span style="color:red;">
        <b> <i> FSAD </i> </b> </span> first batch </h3>


<div class="fight">

    
    <p><span style="color:red;"> <b> Deyang </b> </span> Team
    </p>
    <!-- Display the image scaled to a width of 400 pixels: -->
    <img src='/images/Versus.png' , altr='image' width="120px" height="140">
    
    <p><span style="color:red;"> <b> Chime </b> </span> Team </p>
    
    
</div>
    
<table border=true class="table" align="center">

    <tr>
        <th> id </th>
        <th> Player </th>
        <th> Team A </th>
        <th> Team B </th>
    </tr>

    <tr>
        <td> 1 </td>
        <td> <span style="color:red" ;>  <i class="captain"> Captain </i>  </span> </td>
        <td> De Yang </td>
        <td> Chi Me </td>
    </tr>

    <tr>
        <td> 2 </td>
        <td style="text-align:center;"> <b> A </b> </td>
        <td> Tse Sang </td>
        <td> Khe Chok </td>
    </tr>

    <tr>
        <td> 3 </td>
        <td style="text-align:center;"> <b> A </b> </td>
        <td> N Tashi </td>
        <td> She Rab</td>
    </tr>

    <tr>
        <td> 4 </td>
        <td style="text-align:center;"> <b> B </b> </td>
        <td> Kal Den </td>
        <td> Tra Rik </td>
    </tr>

    <tr>
        <td> 5 </td>
        <td style="text-align:center;"><b> B </b> </td>
        <td> Apo PaChen </td>
        <td> De lek </td>
    </tr>

    <tr>
        <td> 6 </td>
        <td style="text-align:center;"> <b> C </b> </td>
        <td> T Tashi </td>
        <td> Da Wa </td>
    </tr>
</table>