    <div class="navbar">
        <div class="logo"><a href="/" > FSAD </a></div>
        <ul>
            <li ><a href="/home">Team A</a></li>
            <li ><a href="/about">Team B</a></li>
            <li ><a href="/contact">Match</a></li>
            <li ><a href="/service">Score</a></li>
        </ul>
    </div>
